*.bak.*
*.local.json
*.log
*.tsbuildinfo
.agent/.cache/
.artifact
.cache
.cache/
.env
.log/slowtest/
.rhachet
.serverless
.slowtest/integration.report.json
.temp
.terraform
.terraform.lock
.vscode
.yalc
coverage
dist
node_modules
!.test*/**/node_modules
!.test*/**/node_modules/**
